%ul.nav.nav-pills.nav-justified
  %li{role: "presentation", class: active == :index ? "active" : ""}= link_to "Users", "#"
  %li{role: "presentation", class: active == :profile ? "active" : ""}= link_to "Profile", "#"
  %li{role: "presentation", class: active == :killin_its_given ? "active" : ""}= link_to "Killin' Its given", "#"
  %li{role: "presentation", class: active == :killin_its_received ? "active" : ""}= link_to "Killin' Its received", "#"