- if current_user.nil?
  .jumbotron
    %h1 Welcome to Killin' It!
    %p This is an application, by which you can tell another user "Dude... you' re killin' it" with an optional message.
    %p
      = link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg"
      or
      = link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg"
      to start using the application!
- else
  = render partial: "navs", locals: {active: :index}